:root {
  --PriRed: hsl(1, 90%, 64%);
  --PriBlue: hsl(219, 85%, 26%);
  --White: white;
  --VeryLightGrayishBlue: hsl(210, 60%, 98%);
  --LightGrayishBlue1: hsl(211, 68%, 94%);
  --LightGrayishBlue2: hsl(205, 33%, 90%);
  --GrayishBlue: hsl(219, 14%, 63%);
  --DarkGrayishBlue: hsl(219, 12%, 42%);
  --VeryDarkBlue: hsl(224, 21%, 14%);
}
* {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
}
body {
  display: grid;
  place-items: center;
  background: var(--LightGrayishBlue1);
}
main {
  width: 58%;
  background-color: white;
  border-radius: 10px;
  padding: 20px 20px 0 20px;
}
p {
  color: var(--DarkGrayishBlue);
  line-height: 21px;
}
.noti-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.noti {
  display: flex;
  align-items: center;
}
.noti h1 {
  font-weight: 700;
  font-size: 2rem;
}
.noti-num {
  display: flex;
  margin: 0 10px;
  font-size: 1.6rem;
  color: white;
  background-color: var(--PriBlue);
  height: 30px;
  width: 40px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}
.noti-num h2 {
  margin: 0;
}

.all-noti p:hover {
  color: var(--PriBlue);
  cursor: pointer;
}
.avatar-img,
.chess-img {
  margin: 1rem;
  height: 4rem;
  width: auto;
}
.chess-img {
  border: 2px solid white;
}
.chess-img:hover {
  cursor: pointer;
  border: 2px solid var(--LightGrayishBlue2);
  height: 3.5rem;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}
.unread-noti,
.read-noti {
  display: flex;
  margin: 10px;
  padding: 0 3px;
  border-radius: 10px;
  align-items: center;
}
.unread-noti {
  background-color: var(--VeryLightGrayishBlue);
}

.containers p {
  margin: 5px 0;
}
.name {
  color: var(--VeryDarkBlue);
  font-weight: 700;
  padding-right: 3px;
}
.name:hover {
  color: var(--PriBlue);
  cursor: pointer;
}
.activity:hover {
  color: var(--PriBlue);
  cursor: pointer;
}
.club:hover {
  color: var(--PriBlue);
  cursor: pointer;
}
.time {
  color: var(--GrayishBlue);
}
.containers {
  display: flex;
  align-items: center;
}
.special-noti {
  margin-bottom: 0;
}
.messaged {
  margin: 0 10px 0 6.5rem;
}
.messaged p {
  border: 1px solid var(--LightGrayishBlue2);
  padding: 20px;
  border-radius: 5px;
  color: var(--DarkGrayishBlue);
  margin: 0;
}
.messaged:hover {
  background-color: var(--LightGrayishBlue1);
  transition: 0.5s;
}
.special {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.activity,
.club {
  font-weight: 700;
  padding: 0 3px;
}
.activity {
  color: var(--DarkGrayishBlue);
}
.club {
  color: var(--PriBlue);
}
.circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--PriRed);
  margin: 0 3px;
}
@media only screen and (max-width: 500px) {
  main {
    width: 100%;
    padding: 0 50px;
  }
  .avatar-img,
  .chess-img {
    margin: 0.5rem 1rem 0.5rem 1rem;
    height: 3.5rem;
    width: auto;
  }
  .chess-img {
    margin-right: 0;
  }
  .noti-nav,
  .unread-noti,
  .read-noti {
    margin: 0px 20px;
  }
  .unread-noti,
  .read-noti {
    margin: 10px 0;
    padding: 0 3px;
    border-radius: 10px;
  }
  .read-noti {
    margin: 20px 0;
  }
  .special-noti {
    margin-bottom: 0;
  }
  .messaged {
    margin-right: 0;
    margin-left: 5.5rem;
  }
}
